*{margin: 0%;
padding: 0%;}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.section { height: 652px;background-image: url(pic/Hero-bg.png);background-size: cover;background-position: center;}


.main-div .pic{position: absolute; left: 43%;}

.heading {font-size: 50px;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
font-family: "Azeret Mono", monospace;top: 300px;}

.paragraph{margin-top: 350px; display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;font-size: larger;color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;}

  .btn{border-radius: 8px;

    background: rgb(13, 19, 33);
position: static;
width: 208px;
height: 66px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;


flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;color: rgb(255, 255, 255);
font-family: "Azeret Mono" monospace;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;}

.btn-container{ display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
margin-top: 10px;}

.heading1{position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Azeret Mono", monospace;margin-top: 50px;font-size: 30px}

  .paragraph1 {position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Azeret Mono", monospace;margin-top: 30px;font-size: 20px}

    .content{margin-top: 90px;margin-right: 1000px;}

.cardbox{
  flex-direction: row;
  justify-content: flex-start;align-items: center;padding: 80px 97px 80px 97px;

  background: rgba(13, 19, 33, 0.02);}

  .learnmore{position: static;
    width: 200px;
    height: 70px;  box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    flex: none;
order: 1;
flex-grow: 0;
margin: 10px 0px;display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px}

.pic1{
  position: absolute;
  width: 259.56px;
  height: 220px;
  left: 65%;
  right: 0%;
  top:8%;
  bottom: 10%;}

  .pic2{
    position: absolute;
    width: 259.56px;
    height: 220px;
    left: 70%;
    right: 10%;
    top:80%;
    bottom: 10%;}

    .content1{margin-top: 200px;margin-left: 200px;}


    .content3
    {margin-top: 200px;margin-left: -500px;;}

    .pic3{    position: absolute;
      width: 259.56px;
      height: 220px;
      left: 10%;
      right: 100%;
      top:45%;
      bottom: 10%;}
    






